@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* Colors */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Typography */
    --body-font-size: 16px;
    --heading-font-family: 'DM Serif Display', serif;
    --body-font-family: 'Karla', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --desktop-padding-aside: 10%;
    --mobile-padding-aside: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}




/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-regular);
}

.hidden {
    display: none !important;
}

.hidden-on-mobile {
    display: none;
}

.hidden-on-desktop {
    display: block;
}



body {
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    color: var(--very-dark-violet);
    background-color: var(--very-light-gray);
    margin: 0 auto;
}

nav {
    padding: 20px;
    background: var(--very-light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.mobile-menu {
    position: absolute;
    background: var(--dark-violet);
    top: 73px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.mobile-menu__item {
    text-transform: uppercase;
}

.mobile-menu__btn {
    display: flex;
    padding: 20px 60px;
    align-self: center;
    color: white;
    background-color: transparent;
    border-color: white;

    font-size: 1.5rem;
    text-transform: uppercase;

}

.intro {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    text-align: center;
}

.intro__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__text {
    padding: 120px 0;
}


.primay-btn {
    padding: 20px 30px;
}

.intro__text {
    padding: 100px 20px;

}

.intro__text-title {
    font-size: 2.75rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.intro__text-paragraph {
    line-height: 1.5rem;
    margin-bottom: 30px;
}

.intro__text-btn {
    max-width: fit-content;
    padding: 10px 20px;
    background: transparent;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: var(--font-weight-bold);
    border-color: white;
    color: white;
}

.hero {
    text-align: center;
    padding: 20px;

}

.hero__cards-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about {

    margin: 150px 20px;
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--heading-font-family);
    padding: 50px 30px;
    background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    gap: 30px;

}

.about__btn {
    max-width: fit-content;
    padding: 10px 20px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: var(--font-weight-bold);
    border-color: white;
    color: white;
}


.footer__top {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer__top-socials {
    display: flex;
    gap: 15px;
}

.footer__bottom {
    margin: 0 20px;
    padding: 30px 0;
    border-top: .1px solid var(--grayish-blue);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

.footer__bottom__list-box {
    text-align: center;
}

.footer__bottom__list-box-title {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--dark-grayish-violet);

}

.footer__bottom__list-box-list {

    list-style: none;
}

.footer__bottom__list-box-item {
    margin-bottom: 10px;
    font-weight: var(--font-weight-bold);
    color: var(--dark-violet);
    text-transform: uppercase;
}


@media (min-width: 776px) {
    .hidden {
        display: none !important;
    }

    .hidden-on-mobile {
        display: block;
    }

    .hidden-on-desktop {
        display: none;
    }



    nav {
        padding: 20px var(--desktop-padding-aside);
        background: var(--very-light-gray);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        color: var(--dark-grayish-violet);
        letter-spacing: 0.1rem;
        font-weight: var(--font-weight-bold);
    }

    .nav-list {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .nav-list-item:hover {
        cursor: pointer;
        color: #000;
    }

    .nav-list-item-btn {
        padding: 10px 30px;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: var(--font-weight-bold);
        border-color: var(--very-dark-violet);
        color: var(--very-dark-violet);
    }

    .nav-list-item-btn:hover {
        cursor: pointer;
        background-color: var(--very-dark-violet);
        color: var(--very-light-gray);
    }
    .container {
        background-image: url(/images/bg-pattern-intro-left-desktop.svg);
        background-repeat: no-repeat;
        background-position: 0% 35%;
        
    }
    .intro {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 150px var(--desktop-padding-aside) 0 var(--desktop-padding-aside);
        text-align: left;
        background-image: url(/images/bg-pattern-intro-right-desktop.svg);
        background-repeat: no-repeat;
        background-position: top right;

    }


    .intro__text::before {
        content: '';
        position: absolute;
        width: 100px;
        border: 1px solid var(--dark-grayish-violet);
        top: 0;
    }

    .intro__text {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
    }

    .intro__text-title {
        font-size: 4.5em;
        line-height: 4.25rem;
        max-width: 15ch;
    }

    .intro__text-paragraph {
        font-size: 1.050rem;
        line-height: 1.825rem;
    }

    .intro__text-btn {
        max-width: fit-content;
        padding: 10px 40px;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: var(--font-weight-bold);
        border-color: white;
        color: white;
    }

    .intro__text-btn:hover {
        background-color: white;
        color: var(--dark-violet);
        cursor: pointer;
    }

    .intro__img {
        min-width: 50%;
        height: 100%;
        position: relative;
        
    }



    .intro__img-mobile-img {
        margin: 0 auto;
    }

    .intro__img-img {
        position: absolute;
        right: 0;
        top: 0%;
        max-width: auto;
    }

    .hero {
        margin-top: 220px;
        padding: 0px var(--desktop-padding-aside);
        margin-bottom: 220px;
        text-align: left;
    }

    .hero__title {
        position: relative;
        font-size: 4.5rem;
        margin-bottom: 50px;

    }


    .hero__title::before {
        content: '';
        position: absolute;
        width: 100px;
        border: 1px solid var(--dark-grayish-violet);
        top: -50px;
    }


    .hero__cards {
        display: flex;
        gap: 30px;
    }

    .hero__cards-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero__cards-card-image {
        max-width: fit-content;
    }

    .hero__cards-card-title {
        text-transform: capitalize;
    }

    .hero__cards-card-text {
        font-size: 1.025rem;
        line-height: 1.5rem;
    }

    .about {
        margin: 0 var(--desktop-padding-aside) 220px var(--desktop-padding-aside);
        background-color: var(--dark-violet);
        color: var(--very-light-gray);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 75px;
        background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: right;
        text-align: left;
    }

    .about__text {
        font-size: 3.5rem;
        font-family: var(--heading-font-family);
        max-width: 17.5ch;
        line-height: 3.75rem;
    }

    .about__btn {

        max-width: fit-content;
        padding: 10px 40px;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: var(--font-weight-bold);
        border-color: white;
        color: white;
    }

    .about__btn:hover {
        background-color: white;
        color: var(--dark-violet);
        cursor: pointer;
    }

    footer {
        padding: 0 var(--desktop-padding-aside);
        text-align: left;
    }

    .footer__top {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        justify-content: space-between;
        align-items: center;
    }

    .footer__top-socials {
        display: flex;
        gap: 15px;

    }

    .footer__top-socials svg path:hover {

        fill: var(--very-dark-violet);
        cursor: pointer;
    }


    .footer__bottom {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: start;


    }

    .footer__bottom__list-box-title {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: var(--dark-grayish-violet);
        text-align: left;

    }

    .footer__bottom__list-box-list {

        list-style: none;
        text-align: left;
    }

    .footer__bottom__list-box-item {
        margin-bottom: 10px;
        font-weight: var(--font-weight-bold);
        color: var(--dark-violet);
        text-transform: uppercase;
    }

    .footer__bottom__list-box-item:hover {
        text-decoration: underline;
        cursor: pointer;
    }



}